<!--Brands Carousel Widget-->
<section class="brand-carousel">
    <div class="container">
      <h2>Brands in our shop</h2>
      <div class="inner">
        <a class="item" href="#"><img src="assets/img/brands/1.png" alt="1"/></a>
        <a class="item" href="#"><img src="assets/img/brands/1.png" alt="1"/></a>
        <a class="item" href="#"><img src="assets/img/brands/1.png" alt="1"/></a>
        <a class="item" href="#"><img src="assets/img/brands/1.png" alt="1"/></a>
        <a class="item" href="#"><img src="assets/img/brands/1.png" alt="1"/></a>
        <a class="item" href="#"><img src="assets/img/brands/1.png" alt="1"/></a>
        <a class="item" href="#"><img src="assets/img/brands/1.png" alt="1"/></a>
        <a class="item" href="#"><img src="assets/img/brands/1.png" alt="1"/></a>
      </div>
    </div>
  </section>
  <!--Brands Carousel Close-->
