
<!--Breadcrumbs-->
<ol class="breadcrumb">
  <li><a href="index.html">Home</a></li>
  <li>Todas as categorias</li>
</ol><!--Breadcrumbs Close-->

<!--Catalog Grid-->
<section class="catalog-grid">
  <div class="container">
    <h2 class="with-sorting">Categorias</h2>
    <div class="sorting">
      <a href="#">Sort by name</a>
      <a href="#">Sort by price</a>
    </div>
    <div class="subnav">
      <a href="#">iPhone cases</a>
      <a href="#">iPad cases</a>
    </div>
    <div class="row">
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="badges">
            <span class="sale"></span>
          </div>
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="badges">
            <span class="out"></span>
          </div>
          <div class="price-label">715,00 $</div>
          <div class="price-label old-price">920,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="badges">
            <span class="best-seller"></span>
          </div>
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <div class="price-label old-price">920,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Pagination-->
    <ul class="pagination">
      <li class="prev-page"><a class="icon-arrow-left" href="#"></a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li class="next-page"><a class="icon-arrow-right" href="#"></a></li>
    </ul>
  </div>
</section>
<!--Catalog Grid Close-->
