
<!--Categories-->
<section class="cat-tiles">
  <div class="container">
    <h2>Navegar pelas Categorias</h2>
    <div class="row">
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a [routerLink]="['/categoria', '1' ]">
          <img src="assets/img/categories/kipling.png" alt="1"/>
          <p>Material Escolar</p>
        </a>
      </div>
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a [routerLink]="['/categoria', '2' ]">
          <img src="assets/img/categories/2.png" alt="1"/>
          <p>Material de Escritório</p>
        </a>
      </div>
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a [routerLink]="['/categoria', '3' ]">
          <img src="assets/img/categories/books.png" alt="1"/>
          <p>Livraria</p>
        </a>
      </div>
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a [routerLink]="['/categoria', '4' ]">
          <img src="assets/img/categories/informatica.png" alt="1"/>
          <p>Informática</p>
        </a>
      </div>
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a [routerLink]="['/categoria', '5' ]">
          <img src="assets/img/categories/3.png" alt="1"/>
          <p>Aviamento</p>
        </a>
      </div>
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a [routerLink]="['/categoria', '6' ]">
          <img src="assets/img/categories/presente.jpg" alt="1"/>
          <p>Presentes</p>
        </a>
      </div>
    </div>
  </div>
</section><!--Categories Close-->

<!--Catalog Grid-->
<section class="catalog-grid">
  <div class="container">
    <h2 class="primary-color">Catalog picks</h2>
    <div class="row">
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="badges">
            <span class="sale"></span>
          </div>
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="badges">
            <span class="out"></span>
          </div>
          <div class="price-label">715,00 $</div>
          <div class="price-label old-price">920,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="badges">
            <span class="best-seller"></span>
          </div>
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <div class="price-label old-price">920,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--Catalog Grid Close-->

<!--Tabs Widget-->
<section class="tabs-widget">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#bestsel" data-toggle="tab">Bestseller items</a></li>
    <li><a href="#onsale" data-toggle="tab">Items on sale</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="bestsel">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-7">
            <a class="media-link" href="#">
              <div class="overlay">
                <div class="descr"><div>X-MAS LIGHT IPHONE LENS<span>$14.95</span></div></div>
              </div>
              <img src="assets/img/media/1.jpg" alt="1"/>
            </a>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <a class="media-link" href="#">
              <div class="overlay">
                <div class="descr"><div>Hedadset for iPhone<span>$19.40</span></div></div>
              </div>
              <img src="assets/img/media/2.jpg" alt="2"/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <a class="media-link" href="#">
              <div class="overlay">
                <div class="descr"><div>Product Name<span>$24.15</span></div></div>
              </div>
              <img src="assets/img/media/3.jpg" alt="3"/>
            </a>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <a class="media-link" href="#">
              <div class="overlay">
                <div class="descr"><div>Product Name<span>$24.15</span></div></div>
              </div>
              <img src="assets/img/media/4.jpg" alt="4"/>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <a class="media-link" href="#">
              <div class="overlay">
                <div class="descr"><div>Product Name<span>$24.15</span></div></div>
              </div>
              <img src="assets/img/media/5.jpg" alt="5"/>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="onsale">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <a class="media-link" href="#">
              <div class="overlay">
                <div class="descr"><div>X-MAS LIGHT IPHONE LENS<span>$14.95</span></div></div>
              </div>
              <img src="assets/img/media/6.jpg" alt="1"/>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <a class="media-link" href="#">
              <div class="overlay">
                <div class="descr"><div>Hedadset for iPhone<span>$19.40</span></div></div>
              </div>
              <img src="assets/img/media/6.jpg" alt="2"/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <a class="media-link" href="#">
              <div class="overlay">
                <div class="descr"><div>Product Name<span>$24.15</span></div></div>
              </div>
              <img src="assets/img/media/6.jpg" alt="3"/>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <a class="media-link" href="#">
              <div class="overlay">
                <div class="descr"><div>Product Name<span>$24.15</span></div></div>
              </div>
              <img src="assets/img/media/6.jpg" alt="4"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--Tabs Widget Close-->

<!--Posts/Twitter Widget-->
<section class="posts-widget">
  <div class="tw-bg"></div>
  <div class="container">
    <div class="row">
      <div class="latest-posts col-lg-8 col-md-8">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="extra-bold">Latests posts</h2>
            <a class="btn btn-success btn-block" href="#">To blog</a>
          </div>
          <div class="col-lg-9">
            <!--Post-->
            <div class="post row">
              <div class="col-lg-6 col-sm-6">
                <a href="#"><img src="assets/img/posts-widget/1.jpg" alt="1"/></a>
              </div>
              <div class="col-lg-6 col-sm-6">
                <h3><a href="#">Another Title</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                  <div class="author"><i class="fa fa-user"></i><a href="#">By Bedismo</a></div>
                  <div class="comments"><i class="fa fa-comment"></i><a href="#">Comments (34)</a></div>
              </div>
            </div><!--Post End-->
            <!--Post-->
            <div class="post row">
              <div class="col-lg-6 col-sm-6">
                <a href="#"><img src="assets/img/posts-widget/1.jpg" alt="2"/></a>
              </div>
              <div class="col-lg-6 col-sm-6">
                <h3><a href="#">Awesome Title</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                  <div class="author"><i class="fa fa-user"></i><a href="#">By Jeddah</a></div>
                  <div class="comments"><i class="fa fa-comment"></i><a href="#">Comments (101)</a></div>
              </div>
            </div><!--Post End-->
          </div>
        </div>
      </div>
      <div class="twitter-feed col-lg-4 col-md-4">
        <a class="tw-follow" href="https://twitter.com/8Guild" target="_blank">
          <div class="button">Follow us<i class="fa fa-twitter"></i></div>
          <h2 class="extra-bold">On Twitter <i class="fa fa-twitter"></i></h2>
        </a>
        <!--Tweet-->
        <div class="tweet">
          <a href="#">@Bedismo</a>
          <p class="p-style3">Uberly impressed with the AMAZING support I constantly get from awesome!!!</p>
          <div class="group">
            <div class="actions">
              <a href="#">Reply</a>
              <a href="#">Retweet</a>
              <a href="#">Favorite</a>
            </div>
            <span class="date">5 Mar 2014</span>
          </div>
        </div><!--Tweet Close-->
        <!--Tweet-->
        <div class="tweet">
          <a href="#">@Bedismo</a>
          <p class="p-style3">Uberly impressed with the AMAZING support I constantly get from awesome!!!</p>
          <div class="group">
            <div class="actions">
              <a href="#">Reply</a>
              <a href="#">Retweet</a>
              <a href="#">Favorite</a>
            </div>
            <span class="date">5 Mar 2014</span>
          </div>
        </div><!--Tweet Close-->
      </div>
    </div>
  </div>
</section>
