
<!--Breadcrumbs-->
<ol class="breadcrumb">
  <li><a href="index.html">Home</a></li>
  <li>Account: Personal info</li>
</ol><!--Breadcrumbs Close-->

<!--Account Personal Info-->
<section>
  <div class="container">
    <div class="row space-top">

      <!--Items List-->
      <div class="col-sm-8 space-bottom">
        <h2 class="title">My account</h2>
        <ul class="list-unstyled space-bottom">
          <li><a class="large" routerLink="/conta/addresses">My addresses</a></li>
          <li><a class="large" routerLink="/conta/orders_history">Order history</a></li>
          <li><a class="large" routerLink="/wishlist">My wishlist</a></li>
        </ul>
        <h3>Personal information</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        <div class="row">
          <form class="col-md-12 personal-info" method="post">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="api_first_name">First name</label>
                <input type="text" class="form-control" name="api_first_name" id="api_first_name" placeholder="First name" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="api_last_name">Last name</label>
                <input type="text" class="form-control" name="api_last_name" id="api_last_name" placeholder="Last name" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="api_email">Email</label>
                <input type="email" class="form-control" name="api_email" id="api_email" placeholder="Email" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="api_phone">Phone</label>
                <input type="text" class="form-control" name="api_phone" id="api_phone" placeholder="Phone" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="api_password">Password</label>
                <input type="password" class="form-control" name="api_password" id="api_password" placeholder="Password" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="api_conf_password">Confirm password</label>
                <input type="password" class="form-control" name="api_conf_password" id="api_conf_password" placeholder="Confirm password" required>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox custom">
                <label>
                  <input type="checkbox">Sign up for our newsletter!
                </label>
              </div>
              <div class="checkbox custom">
                <label>
                  <input type="checkbox">Receive special offers from our us.
                </label>
              </div>
            </div>
            <input type="submit" class="btn btn-success" value="Save changes">
          </form>
        </div>
      </div>

      <!--Sidebar-->
      <div class="col-lg-3 col-lg-offset-1 col-sm-4">
        <h3>Your order</h3>
        <div class="checkout">
          <table>
            <tr><th>Product</th></tr>
            <tr>
              <td class="name border">Nikon D4X<span>x1</span></td>
              <td class="price border">2715,00 $</td>
            </tr>
            <tr>
              <td class="th">Cart subtotal</td>
              <td class="price">2715,00 $</td>
            </tr>
            <tr>
              <td class="th border">Shipping</td>
              <td class="align-r border">Free shipping</td>
            </tr>
            <tr>
              <td class="th">Order total</td>
              <td class="price">2715,00 $</td>
            </tr>
          </table>
          <a class="btn btn-success btn-block space-top" href="checkout.html">Place order</a>
        </div>
      </div>
    </div>
  </div>
</section><!--Account Personal Info Close-->

<!--Catalog Grid-->
<section class="catalog-grid">
  <div class="container">
    <h2 class="primary-color">Recently viewed</h2>
    <div class="row">
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--Catalog Grid Close-->

