<header data-offset-top="500" data-stuck="600"><!--data-offset-top is when header converts to small variant and data-stuck when it becomes visible. Values in px represent position of scroll from top. Make sure there is at least 100px between those two values for smooth animation-->

  <!--Search Form-->
  <form class="search-form closed" method="get" role="form" autocomplete="off">
    <div class="container">
      <div class="close-search"><i class="icon-delete"></i></div>
        <div class="form-group">
          <label class="sr-only" for="search-hd">Buscar produto</label>
          <input type="text" class="form-control" name="search-hd" id="search-hd" placeholder="Buscar produto">
          <button type="submit"><i class="icon-magnifier"></i></button>
      </div>
    </div>
  </form>

  <!--Split Background-->
  <div class="left-bg"></div>
  <div class="right-bg"></div>

  <div class="container">
    <a class="logo" routerLink="home">
      <img src="assets/img/logo.png" alt="Bushido"/>
    </a>

    <!--Language / Currency Switchers-->
    <ul class="switchers">
      <li>R$
        <ul class="dropdown">
          <li><a href="#">&euro;</a></li>
          <li><a href="#">$</a></li>
          <li><a href="#">R$</a></li>
        </ul>
      </li>
      <li>Pt
        <ul class="dropdown">
          <li><a href="#">Pt</a></li>
          <li><a href="#">Es</a></li>
        </ul>
      </li>
    </ul>

    <!--Mobile Menu Toggle-->
    <div class="menu-toggle"><i class="fa fa-list"></i></div>
    <div class="mobile-border"><span></span></div>

    <!--Main Menu-->
    <nav class="menu">
      <ul class="main">
        <li class="has-submenu">
          <a routerLink="home">Home<i class="fa fa-chevron-down"></i></a><!--Class "has-submenu" for proper highlighting and dropdown-->
          <!-- <ul class="submenu">
            <li routerLinkActive="active">
              <a routerLink="home">Home - Slideshow</a>
            </li>
            <li><a href="home-fullscreen.html">Home - Fullscreen Slider</a></li>
            <li><a href="home-showcase.html">Home - Product Showcase</a></li>
            <li><a href="home-categories.html">Home - Categories Slider</a></li>
            <li><a href="home-offers.html">Home - Special Offers</a></li>
          </ul> -->
        </li>
        <li class="has-submenu"><a href="shop-filters-left-3cols.html">Shop<i class="fa fa-chevron-down"></i></a>
          <ul class="submenu">
            <li>
              <a routerLink="produtos">Produtos</a>
            </li>
            <!-- <li><a [routerLink]="['/item', '1' ]">Produto</a></li> -->
            <li><a routerLink="categorias">Categorias</a></li>
            <!-- <li><a [routerLink]="['/category', '1' ]">Categoria um</a></li> -->
            <!-- <li><a href="shop-filters-right-2cols.html">Shop - Filters Right 2 Cols</a></li>
            <li><a href="shop-no-filters-4cols.html">Shop - No Filters 4 Cols</a></li>
            <li><a href="shop-no-filters-3cols.html">Shop - No Filters 3 Cols</a></li> -->
            <!-- <li>
              <a [routerLink]="['/item', 5 ]">Shop - Single Item Vers 1</a>
            </li>
            <li><a href="shop-single-item-v2.html">Shop - Single Item Vers 2</a></li> -->
          </ul>
        </li>
        <!-- <li class="has-submenu"><a href="blog-sidebar-right.html">Blog<i class="fa fa-chevron-down"></i></a>
          <ul class="submenu">
            <li><a href="blog-sidebar-left.html">Blog - Sidebar Left</a></li>
            <li><a href="blog-sidebar-right.html">Blog - Sidebar Right</a></li>
            <li><a href="blog-single.html">Blog - Single Post</a></li>
          </ul>
        </li> -->
        <li class="has-submenu"><a href="#">Minha Conta<span class="label">Novo</span><i class="fa fa-chevron-down"></i></a>
          <ul class="submenu">
            <li><a routerLink="register">Login / Registro</a></li>
            <li><a [routerLink]="['/cart', 1 ]">Shopping Cart</a></li>
            <li><a [routerLink]="['/checkout', 1 ]">Checkout Page</a></li>
            <li><a [routerLink]="['/wishlist', 1 ]">Wishlist</a></li>
            <li><a routerLink="conta/personal_info">Conta: Informação Pessoal</a></li>
            <li><a routerLink="conta/addresses">Conta: Endereços</a></li>
            <li><a routerLink="conta/orders_history">Histórico de Pedidos</a></li>
            <li><a routerLink="orders_tracking">Seguimento de Pedidos</a></li>
            <li><a routerLink="delivery_info">Informação de Envio<span class="label">Novo</span></a></li>
          </ul>
        </li>
        <li class="has-submenu"><a routerLink="about">Nossa história<i class="fa fa-chevron-down"></i></a>
          <ul class="submenu">
            <li class="hide-sm">
              <a routerLink="about">Nossa história</a>
            </li>
            <li>
              <a routerLink="contatos">Contactos</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="catalog">
        <li class="has-submenu"><a href="shop-filters-left-3cols.html">Phones<i class="fa fa-chevron-down"></i></a>
          <ul class="submenu">
            <li><a href="#">Nokia</a></li>
            <li class="has-submenu"><a href="#">iPhone</a><!--Class "has-submenu" for adding carret and dropdown-->
              <ul class="sub-submenu">
                <li><a href="#">iPhone 4</a></li>
                <li><a href="#">iPhone 4s</a></li>
                <li><a href="#">iPhone 5c</a></li>
                <li><a href="#">iPhone 5s</a></li>
              </ul>
            </li>
            <li><a href="#">HTC</a></li>
            <li class="has-submenu"><a href="#">Samsung</a>
              <ul class="sub-submenu">
                <li><a href="#">Galaxy Note 3</a></li>
                <li><a href="#">Galaxy S5</a></li>
                <li><a href="#">Galaxy S3 Neo</a></li>
                <li><a href="#">Galaxy Gear</a></li>
                <li><a href="#">Galaxy S Duos 2</a></li>
              </ul>
            </li>
            <li><a href="#">BlackBerry</a></li>
            <li class="offer">
              <div class="col-1">
                <p class="p-style2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="col-2">
                <img src="assets/img/offers/menu-drodown-offer.jpg" alt="Special Offer"/>
                <a class="btn btn-block" href="#"><span>584$</span>Special offer</a>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="shop-filters-left-3cols.html">Cameras</a></li>
        <li><a href="shop-filters-left-3cols.html">Personal computers</a></li>
        <li><a href="shop-filters-left-3cols.html">Gaming consoles</a></li>
        <li><a href="shop-filters-left-3cols.html">TV sets</a></li>
      </ul>
    </nav>

    <!--Toolbar-->
    <div class="toolbar group">
      <button class="search-btn btn-outlined-invert"><i class="icon-magnifier"></i></button>
      <div class="middle-btns">
        <a [routerLink]="['/wishlist', 7]"
           class="btn-outlined-invert" >
          <i class="icon-heart"></i> <span>Desejos</span>
        </a>
        <a class="login-btn btn-outlined-invert" href="#" data-toggle="modal" data-target="#loginModal"><i class="icon-profile"></i> <span>Login</span></a>
      </div>
      <div class="cart-btn">
        <a [routerLink]="['/cart', 7]"
           class="btn btn-outlined-invert"
           href="shopping-cart.html">
           <i class="icon-shopping-cart-content"></i>
           <span>3</span>
        </a>

        <!--Cart Dropdown-->
        <div class="cart-dropdown">
          <span></span><!--Small rectangle to overlap Cart button-->
          <div class="body">
            <table>
              <tr>
                <th>Items</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
              <tr class="item">
                <td><div class="delete"></div><a href="#">Good Joo-Joo Surfb</a></td>
                <td><input type="text" value="1"></td>
                <td class="price">89 005 $</td>
              </tr>
              <tr class="item">
                <td><div class="delete"></div><a href="#">Good Joo-Joo Item</a></td>
                <td><input type="text" value="2"></td>
                <td class="price">4 300 $</td>
              </tr>
              <tr class="item">
                <td><div class="delete"></div><a href="#">Good Joo-Joo</a></td>
                <td><input type="text" value="5"></td>
                <td class="price">84 $</td>
              </tr>
            </table>
          </div>
          <div class="footer group">
            <div class="buttons">
              <a [routerLink]="['/checkout', 7]"
                 class="btn btn-outlined-invert">
                 <i class="icon-download"></i>
                 Passar por caixa
              </a>
              <a [routerLink]="['/cart', 7]"
                 class="btn btn-outlined-invert">
                 <i class="icon-shopping-cart-content"></i>
                 Ir ao meu carrinho
              </a>
            </div>
            <div class="total">93 389 $</div>
          </div>
        </div><!--Cart Dropdown Close-->
      </div>
    </div><!--Toolbar Close-->
  </div>
</header><!--Header Close-->
