
<!--Breadcrumbs-->
<ol class="breadcrumb">
  <li><a href="index.html">Home</a></li>
  <li>Delivery info</li>
</ol><!--Breadcrumbs Close-->

<!--Delivery Info-->
<section class="container">
  <h2 class="text-center-mobile">Delivery info</h2>
  <div class="row space-top">
    <!--Item-->
    <div class="col-md-4 col-sm-6 space-bottom">
      <div class="row">
        <div class="col-md-3 col-sm-4 featured-icon"><i class="icon icon-boat"></i></div>
        <div class="col-md-9 col-sm-8 text-center-mobile">
          <h3>Free shipping</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
      </div>
    </div>
    <!--Item-->
    <div class="col-md-4 col-sm-6 space-bottom">
      <div class="row">
        <div class="col-md-3 col-sm-4 featured-icon"><i class="icon icon-ticket"></i></div>
        <div class="col-md-9 col-sm-8 text-center-mobile">
          <h3>Up to 30% off!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
      </div>
    </div>
    <!--Item-->
    <div class="col-md-4 col-sm-6 space-bottom">
      <div class="row">
        <div class="col-md-3 col-sm-4 featured-icon"><i class="icon icon-clock"></i></div>
        <div class="col-md-9 col-sm-8 text-center-mobile">
          <h3>24h Customer Srvice</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
      </div>
    </div>
    <!--Item-->
    <div class="col-md-4 col-sm-6 space-bottom">
      <div class="row">
        <div class="col-md-3 col-sm-4 featured-icon"><i class="icon icon-heart"></i></div>
        <div class="col-md-9 col-sm-8 text-center-mobile">
          <h3>Personalised gifts</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
      </div>
    </div>

    <div class="clearfix visible-sm"></div>

    <!--Item-->
    <div class="col-md-4 col-sm-6 space-bottom">
      <div class="row">
        <div class="col-md-3 col-sm-4 featured-icon"><i class="icon icon-sunny"></i></div>
        <div class="col-md-9 col-sm-8 text-center-mobile">
          <h3>New summer collection</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
      </div>
    </div>
    <!--Item-->
    <div class="col-md-4 col-sm-6 space-bottom">
      <div class="row">
        <div class="col-md-3 col-sm-4 featured-icon"><i class="icon icon-tshirt"></i></div>
        <div class="col-md-9 col-sm-8 text-center-mobile">
          <h3>Style for every budget</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
      </div>
    </div>
  </div>
</section><!--Delivery Info Close-->

