
<app-login-modal></app-login-modal>

<app-header></app-header>

<!--Page Content-->
<div class="page-content">

    <app-master-slider></app-master-slider>

    <router-outlet></router-outlet>

    <app-small-slider></app-small-slider>

</div>
<!--Page Content Close-->

<app-sticky-btns></app-sticky-btns>

<app-news></app-news>

<app-footer></app-footer>
