
<!--Breadcrumbs-->
<ol class="breadcrumb">
  <li><a href="index.html">Home</a></li>
  <li><a href="account-personal-info.html">Account</a></li>
  <li>My Addresses</li>
</ol><!--Breadcrumbs Close-->

<!--Account Addresses-->
<section class="container">
  <div class="row space-top">

    <!--Items List-->
    <div class="col-md-9 space-bottom">
      <h2 class="title">My addresses</h2>
      <h3>Addresses list</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<br>ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
      <table class="address-list">
        <tbody>
          <tr>
            <th scope="col">Address</th>
            <th scope="col">Name</th>
            <th scope="col">Phone number</th>
            <th scope="col">&nbsp;</th>
          </tr>
          <tr>
            <td>4120 Lenox Avenue, New York, NY,<br>10035 76 Saint Nicholas Avenue</td>
            <td>Johnathan Doe</td>
            <td class="hidden-xs">+480023456789</td>
            <td>
              <a class="icon-pencil" href="#"></a>
              <a class="icon-delete" href="#"></a>
            </td>
          </tr>
          <tr>
            <td>4120 Lenox Avenue, New York, NY,<br>10035 76 Saint Nicholas Avenue</td>
            <td>Johnathan Doe</td>
            <td class="hidden-xs">+480023456789</td>
            <td>
              <a class="icon-pencil" href="#"></a>
              <a class="icon-delete" href="#"></a>
            </td>
          </tr>
          <tr>
            <td>4120 Lenox Avenue, New York, NY,<br>10035 76 Saint Nicholas Avenue</td>
            <td>Johnathan Doe</td>
            <td class="hidden-xs">+480023456789</td>
            <td>
              <a class="icon-pencil" href="#"></a>
              <a class="icon-delete" href="#"></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row space-top">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <a class="btn btn-primary btn-sm btn-block" href="#">Add new address</a><br>
          <a class="btn btn-success btn-sm btn-block" href="account-personal-info.html">Back to Account</a>
        </div>
      </div>
    </div>

    <!--Sidebar-->
    <div class="col-md-3">
      <h3>Your order</h3>
      <div class="checkout">
        <table>
          <tr><th>Product</th></tr>
          <tr>
            <td class="name border">Nikon D4X<span>x1</span></td>
            <td class="price border">2715,00 $</td>
          </tr>
          <tr>
            <td class="th">Cart subtotal</td>
            <td class="price">2715,00 $</td>
          </tr>
          <tr>
            <td class="th border">Shipping</td>
            <td class="align-r border">Free shipping</td>
          </tr>
          <tr>
            <td class="th">Order total</td>
            <td class="price">2715,00 $</td>
          </tr>
        </table>
        <a class="btn btn-success btn-block space-top" href="checkout.html">Place order</a>
      </div>
    </div>
  </div>
</section><!--Account Addresses Close-->

<!--Catalog Grid-->
<section class="catalog-grid">
  <div class="container">
    <h2 class="primary-color">Recently viewed</h2>
    <div class="row">
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Tile-->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="tile">
          <div class="price-label">715,00 $</div>
          <a href="#"><img src="assets/img/catalog/1.png" alt="1"/></a>
          <div class="footer">
            <a href="#">The Buccaneer</a>
            <span>by Pirate3d</span>
            <div class="tools">
              <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <!--Add To Cart Button-->
              <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
              <!--Share Button-->
              <div class="share-btn">
                <div class="hover-state">
                  <a class="fa fa-facebook-square" href="#"></a>
                  <a class="fa fa-twitter-square" href="#"></a>
                  <a class="fa fa-google-plus-square" href="#"></a>
                </div>
                <i class="fa fa-share"></i>
              </div>
              <!--Add To Wishlist Button-->
              <a class="wishlist-btn" href="#">
                <div class="hover-state">Wishlist</div>
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--Catalog Grid Close-->

