
  <!--Breadcrumbs-->
  <ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li><a href="shop-filters-left-3cols.html">Shop</a></li>
    <li>Checkout</li>
  </ol><!--Breadcrumbs Close-->

  <!--Checkout-->
  <section class="checkout">
    <div class="container">

      <!--Expandable Panels-->
      <div class="row">
        <div class="col-lg-12">
          <h2>Checkout</h2>
          <!--Hidden Panels-->
          <a class="panel-toggle" href="#login"><i></i>Returning customer? Click here to login</a>
          <div class="row">
            <div class="hidden-panel" id="login">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7">
                    <form class="login-form" method="post">
                      <div class="form-group group">
                        <label for="log-email2">Email</label>
                        <input type="email" class="form-control" name="log-email2" id="log-email2" placeholder="Enter your email" required>
                        <a class="help-link" href="#">Forgot email?</a>
                      </div>
                      <div class="form-group group">
                        <label for="log-password2">Password</label>
                        <input type="text" class="form-control" name="log-password2" id="log-password2" placeholder="Enter your password" required>
                        <a class="help-link" href="#">Forgot password?</a>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" name="remember"> Remember me</label>
                      </div>
                      <input class="btn btn-success" type="submit" value="Login">
                    </form>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5">
                    <label>Use social accounts</label>
                    <div class="social-login">
                      <a class="facebook" href="#"><i class="fa fa-facebook-square"></i></a>
                      <a class="google" href="#"><i class="fa fa-google-plus-square"></i></a>
                      <a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="panel-toggle" href="#coupon"><i></i>Have a coupon? Click here to enter your code</a>
          <div class="row">
            <div class="col-lg-5">
              <div class="hidden-panel" id="coupon">
                <form name="coupon-code" method="post">
                  <div class="form-group">
                    <label class="sr-only" for="coupon-code">Enter coupon code</label>
                    <input type="text" class="form-control" id="coupon-code" name="coupon-code" placeholder="Enter coupon code">
                  </div>
                  <input type="submit" class="btn btn-primary btn-sm btn-block" name="apply-coupon" value="Apply coupon">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Checkout Form-->
      <div class="row">
        <form id="checkout-form" method="post">

          <!--Left Column-->
          <div class="col-lg-8 col-md-8 col-sm-8">
            <h3>Billing adress</h3>
            <div class="form-group">
              <label for="co-country">Country *</label>
              <div class="select-style">
                <select name="co-country" id="co-country">
                  <option>Australia</option>
                  <option>Belgium</option>
                  <option>Germany</option>
                  <option>United Kingdom</option>
                  <option>Switzerland</option>
                  <option>USA</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <label for="co-first-name">First Name *</label>
                <input type="text" class="form-control" id="co-first-name" name="co-first-name" placeholder="First name" required>
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <label for="co-last-name">Last Name *</label>
                <input type="text" class="form-control" id="co-last-name" name="co-last-name" placeholder="Last name" required>
              </div>
            </div>
            <div class="form-group">
              <label for="co-company-name">Company name</label>
              <input type="text" class="form-control" id="co-company-name" name="co-company-name" placeholder="Company name">
            </div>
            <div class="form-group">
              <label for="co-str-adress">Adress *</label>
              <input type="text" class="form-control" id="co-str-adress" name="co-str-adress" placeholder="Street adress" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="co-appartment">Appartment</label>
              <input type="text" class="form-control" id="co-appartment" name="co-appartment" placeholder="Appartment" required>
            </div>
            <div class="form-group">
              <label for="co-city">Town/ city *</label>
              <input type="text" class="form-control" id="co-city" name="co-city" placeholder="Town/ city" required>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <label for="co-state">County/ state</label>
                <input type="text" class="form-control" id="co-state" name="co-state" placeholder="County/ state">
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <label for="co_postcode">Postcode *</label>
                <input type="text" class="form-control" id="co_postcode" name="co_postcode" placeholder="Postcode/ ZIP" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <label for="co-email">Email *</label>
                <input type="email" class="form-control" id="co-email" name="co-email" placeholder="Email adress" required>
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <label for="co_phone">Phone *</label>
                <input type="text" class="form-control" id="co_phone" name="co_phone" placeholder="Phone number" required>
              </div>
            </div>
            <div class="checkbox form-group">
              <label><input type="checkbox" name="create-account"> Create an account?</label>
            </div>
            <div class="checkbox form-group">
              <label><span class="text-primary">Ship to a different adress?</span> <input type="checkbox" name="ship-to-dif-adress"></label>
            </div>
            <h3>Order notes</h3>
            <div class="form-group">
              <label class="sr-only" for="order-notes">Order notes</label>
              <textarea class="form-control" name="order-notes" id="order-notes" rows="4" placeholder="Order notes"></textarea>
            </div>
          </div>

          <!--Right Column-->
          <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-4">
            <h3>Your order</h3>
            <table>
              <tr><th>Product</th></tr>
              <tr>
                <td class="name border">Nikon D4X<span>x1</span></td>
                <td class="price border">2715,00 $</td>
              </tr>
              <tr>
                <td class="th">Cart subtotal</td>
                <td class="price">2715,00 $</td>
              </tr>
              <tr>
                <td class="th border">Shipping</td>
                <td class="align-r border">Free shipping</td>
              </tr>
              <tr>
                <td class="th">Order total</td>
                <td class="price">2715,00 $</td>
              </tr>
            </table>
            <div class="payment-method">
              <div class="radio light">
                <label><input type="radio" name="payment" id="payment01" checked> Direct Bank Transfer</label>
              </div>
              <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
              <div class="radio light">
                <label><input type="radio" name="payment" id="payment02"> Cheque Payment</label>
              </div>
              <div class="radio light">
                <label><input type="radio" name="payment" id="payment03"> PayPal <span class="pp-label"></span></label>
              </div>
            </div>
            <input class="btn btn-success btn-block" type="submit" name="place-order" value="Place order">
          </div>
        </form>
      </div>
    </div>
  </section><!--Checkout Close-->

  <!--Tabs Widget-->
  <section class="tabs-widget">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#bestsel" data-toggle="tab">Bestseller items</a></li>
      <li><a href="#onsale" data-toggle="tab">Items on sale</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="bestsel">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7">
              <a class="media-link" href="#">
                <div class="overlay">
                  <div class="descr"><div>X-MAS LIGHT IPHONE LENS<span>$14.95</span></div></div>
                </div>
                <img src="assets/img/media/1.jpg" alt="1"/>
              </a>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <a class="media-link" href="#">
                <div class="overlay">
                  <div class="descr"><div>Hedadset for iPhone<span>$19.40</span></div></div>
                </div>
                <img src="assets/img/media/2.jpg" alt="2"/>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <a class="media-link" href="#">
                <div class="overlay">
                  <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                </div>
                <img src="assets/img/media/3.jpg" alt="3"/>
              </a>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <a class="media-link" href="#">
                <div class="overlay">
                  <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                </div>
                <img src="assets/img/media/4.jpg" alt="4"/>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <a class="media-link" href="#">
                <div class="overlay">
                  <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                </div>
                <img src="assets/img/media/5.jpg" alt="5"/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="onsale">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <a class="media-link" href="#">
                <div class="overlay">
                  <div class="descr"><div>X-MAS LIGHT IPHONE LENS<span>$14.95</span></div></div>
                </div>
                <img src="assets/img/media/6.jpg" alt="1"/>
              </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <a class="media-link" href="#">
                <div class="overlay">
                  <div class="descr"><div>Hedadset for iPhone<span>$19.40</span></div></div>
                </div>
                <img src="assets/img/media/6.jpg" alt="2"/>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <a class="media-link" href="#">
                <div class="overlay">
                  <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                </div>
                <img src="assets/img/media/6.jpg" alt="3"/>
              </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <a class="media-link" href="#">
                <div class="overlay">
                  <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                </div>
                <img src="assets/img/media/6.jpg" alt="4"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--Tabs Widget Close-->

