<!--Sticky Buttons-->
<div class="sticky-btns">
    <form class="quick-contact ajax-form" method="post" name="quick-contact">
      <h3>Contact us</h3>
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
      <div class="form-group">
        <label for="qc-name">Full name</label>
        <input class="form-control input-sm" type="text" name="name" id="qc-name" placeholder="Enter full name">
      </div>
      <div class="form-group">
        <label for="qc-email">Email</label>
        <input class="form-control input-sm" type="email" name="email" id="qc-email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="qc-message">Your message</label>
        <textarea class="form-control input-sm" name="message" id="qc-message" placeholder="Enter your message"></textarea>
      </div>
      <!-- Validation Response -->
      <div class="response-holder"></div>
      <!-- Response End -->
      <input class="btn btn-success btn-sm btn-block" type="submit" value="Send">
    </form>
    <span id="qcf-btn"><i class="fa fa-envelope"></i></span>
    <span id="scrollTop-btn"><i class="fa fa-chevron-up"></i></span>
  </div>
  <!--Sticky Buttons Close-->
